
    <div class="container">
        <div class="subtitle">
            <h5>Upload videos to our Wistia Account</h5>
        </div>
        <div class="uploader">
                <div ng-hide="fileuploaded">
                    <label for="add" >
                        <div class="plus">
                             <img src="../../img/play.png" alt="+">
                        </div>
                        <div class="caption">
                            {{$ctrl.msg}}
                        </div>

                    </label>
                </div>
                    <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data" data-ng-app="demo"
                    data-ng-controller="ConfigController" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">

                        <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>


                        <div class="row fileupload-buttonbar" style="display: none;">
                            <div class="col-lg-7">

                                <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}" >
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add files...</span>
                                    <input id="add" type="file" name="files[]" ng-disabled="disabled" >
                                </span>

                                <span class="fileupload-process"></span>
                            </div>

                            <div class="col-lg-5 fade" data-ng-class="{in: active()}">

                                <div class="progress progress-striped active" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>

                                <div class="progress-extended">&nbsp;</div>
                            </div>
                        </div>

                        <!-- <table class="table table-striped files ng-cloak">
                            <tr data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">
                                <td data-ng-switch data-on="!!file.thumbnailUrl">
                                    <div class="preview" data-ng-switch-when="true">
                                        <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
                                    </div>
                                    <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                                </td>
                                <td>
                                    <p class="name" data-ng-switch data-on="!!file.url">
                                        <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                                            <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                                            <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                                        </span>
                                        <span data-ng-switch-default>{{file.name}}</span>
                                    </p>
                                    <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                                </td>
                                <td>
                                    <p class="size">{{file.size | formatFileSize}}</p>
                                    <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary start" data-ng-click="upload(file)" data-ng-hide="!file.$submit || options.autoUpload" data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span>Start</span>
                                    </button>
                                    <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <span>Cancel</span>
                                    </button>
                                    <button data-ng-controller="OperationsController" type="button" class="btn btn-danger destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">
                                        <i class="glyphicon glyphicon-trash"></i>
                                        <span>Delete</span>
                                    </button>
                                </td>
                            </tr>
                        </table> -->



                            <div data-ng-repeat="file in queue" data-ng-class="{'processing': proccess(file)}">
                                <div ng-show="fileuploaded" class="row showfirst files ng-cloak">
                                    <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                                    <div data-ng-hide="file.error">
                                        <div class="preview" data-file-upload-preview="file"></div>
                                        <div class="info">
                                            <div class="col-sm-4">
                                                Name: <span>{{file.name}}</span>
                                            </div>
                                            <div class="col-sm-4">
                                                <p class="size">{{file.size | formatFileSize}}</p>
                                                <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                                            </div>
                                            <div class="col-sm-4">
                                                <p>File type: {{file.type}}</p>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary start" data-ng-click="upload(file)"
                                        data-ng-hide="!file.$submit || options.autoUpload" data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">Upload</button>
                                    </div>
                                </div>
                            </div>

                            <br><br><br><br>
                            <div  class="showfirst">
                                <h1>Video uploaded!</h1>

                                <img ng-src="{{video.thumbnail.url}}" height="video.thumbnail.url">
                                <div class="" ng-bind="video.name"></div>
                                <div class="">{{video.duration}}</div>
                                <div class="">{{video.created}}</div>
                                <div class="">{{video.duration}}</div>

                            </div>



                    </form>

                    <br>
                </div>

        </div>
